<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>ProjetSiteEncheres</display-name>
  <welcome-file-list>
    <welcome-file>index</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>Paramétrage de la jsp acceuil</description>
    <servlet-name>acceuil</servlet-name>
    <jsp-file>/WEB-INF/jsp/acceuil.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>acceuil</servlet-name>
    <url-pattern>/jsp/acceuil.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Paramétrage de la jsp FormulaireInscription</description>
    <servlet-name>formulaireInscription</servlet-name>
    <jsp-file>/WEB-INF/jsp/formulaireInscription.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>formulaireInscription</servlet-name>
    <url-pattern>/jsp/formulaireInscription.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Paramétrage de la jsp connexion utilisateur</description>
    <servlet-name>connexionUtilisateur</servlet-name>
    <jsp-file>/WEB-INF/jsp/connexionUtilisateur.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>connexionUtilisateur</servlet-name>
    <url-pattern>/jsp/connexionUtilisateur.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Paramétrage de la jsp Envoie un email</description>
    <servlet-name>envoieEmail</servlet-name>
    <jsp-file>/WEB-INF/jsp/envoieEmail.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>envoieEmail</servlet-name>
    <url-pattern>/jsp/envoieEmail.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Paramétrage de la jsp Accueil connexion mon profil</description>
    <servlet-name>accueilConnexionMonProfil</servlet-name>
    <jsp-file>/WEB-INF/jsp/accueilConnexionMonProfil.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>accueilConnexionMonProfil</servlet-name>
    <url-pattern>/jsp/accueilConnexionMonProfil.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Paramétrage de la jsp mon profil</description>
    <servlet-name>monProfil</servlet-name>
    <jsp-file>/WEB-INF/jsp/monProfil.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>monProfil</servlet-name>
    <url-pattern>/jsp/monProfil.jsp</url-pattern>
  </servlet-mapping>
</web-app>