<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>ProjetEncheres</display-name>
  <welcome-file-list>
    <welcome-file>index</welcome-file>
  </welcome-file-list>
<servlet>
  	<description>Paramétrage de la jsp acceuilNoConnect</description>
  	<servlet-name>acceuilNoConnect</servlet-name>
	<jsp-file>/WEB-INF/lib/jsp/acceuilNoConnect.jsp</jsp-file>
</servlet>
<servlet-mapping>
	<servlet-name>acceuilNoConnect</servlet-name>
	<url-pattern>/jsp/acceuilNoConnect.jsp</url-pattern>
</servlet-mapping>

<servlet>
  	<description>Paramétrage de la jsp FormulaireInscription</description>
  	<servlet-name>formulaireInscription</servlet-name>
	<jsp-file>/WEB-INF/lib/jsp/formulaireInscription.jsp</jsp-file>
</servlet>
<servlet-mapping>
	<servlet-name>formulaireInscription</servlet-name>
	<url-pattern>/jsp/formulaireInscription.jsp</url-pattern>
</servlet-mapping>
</web-app>